apiVersion: v1
kind: Service
metadata:
  labels:
    app: kubeacademy
  name: "{{ .Release.Name }}-building-apps-svc"
spec:
  selector:
    app: kubeacademy
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8092
